:root {
	--red: #f44236;
	--navy: #00003e;
	--white: #fff8dc;
	--gray: #323232;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
a,
Link {
	text-decoration: none;
	color: inherit;
	display: flex;
	align-items: center;
	gap: 5px;
}
a:visited,
Link:visited {
	color: inherit;
}
/* a:hover,
Link:hover {
	color: var(--navy);
} */
textarea {
	resize: none;
	font-family: inherit;
	font-size: 90%;
	color: var(--gray);
	padding: 10px;
}
.main-button, .secondary-button {
	width: 200px;
	height: 2.5rem;
	border: none;
	font-family: 'Readex Pro', sans-serif;
	box-shadow: 1px 1px 5px black;
	transition: 250ms;
	transition-property: background-color;
}
.main-button {
	background-color: var(--red);
	color: var(--white);
}
.secondary-button {
	background-color: white;
	color: var(--gray);
}
.main-button:hover {
	background-color: #a72d25;
	cursor: pointer;
}
.secondary-button:hover {
	background-color: lightgray;
	cursor: pointer;
}
