:root {
	--clr-accent-400: hsl(214, 82%, 35%);
	--clr-accent-400-translucent: hsla(214, 82%, 35%, 0.3);
	--clr-accent-200: hsl(4, 72%, 65%);
	--navy: #00003e;
	--white: white;
	--gray: #323232;
}
.scroll-to {
	position: relative;
	top: -150px;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 130vh;
	width: 100%;
	gap: 2rem;
}
a,
Link {
	text-decoration: none;
	color: inherit;
}
a:visited,
Link:visited {
	color: inherit;
}
textarea {
	resize: none;
	font-family: inherit;
	font-size: 90%;
	color: var(--gray);
	padding: 10px;
}
.main-button,
.secondary-button {
	width: 200px;
	min-height: 2.5rem;
	border: none;
	font-family: "Readex Pro", sans-serif;
	box-shadow: 1px 1px 5px black;
	transition: 250ms;
	transition-property: filter;
}
.main-button {
	background-color: var(--clr-accent-400);
	color: var(--white);
}
.secondary-button {
	background-color: white;
	color: var(--gray);
}
.main-button:hover {
	/* background-color: #a72d25; */
	cursor: pointer;
	filter: brightness(120%);
}
.secondary-button:hover {
	background-color: lightgray;
	cursor: pointer;
}
.image-cover {
	object-fit: cover;
}
.background-multiply {
	mix-blend-mode: multiply;
}
.content-does-not-exist {
	margin: auto;
	font-weight: 200;
	color: gray;
	max-width: 90%;
	text-align: center;
}
h2.page-heading {
	font-size: 1.5rem;
	font-weight: 600;
}
.display-none {
	display: none;
}
