.card {
	box-shadow: 1px 1px 5px black;
	color: var(--navy);
	display: flex;
	flex-direction: column;
}
.card:hover {
	cursor: pointer;
}
#worker-name,
#profession {
	padding-right: 5px;
	margin: 0px;
}
#profession {
	font-size: 0.8em;
}
