:where(.chat *) {
	margin: 0px;
	padding: 0px;
	font: inherit;
}
.chat-bubble {
	--chat-bubble-bg-clr: hsl(0, 0%, 95%);

	position: relative;
	overflow: hidden;
	filter: drop-shadow(1px 1px 5px black);
	flex-shrink: 1;
}
.chat-bubble-content {
	background-color: var(--chat-bubble-bg-clr);
	max-width: 300px;
	border-radius: 5px;
	padding: 0.5rem;
}
.chat-message-text {
	hyphens: auto;
	overflow-wrap: break-word;
}
.chat-bubble::before {
	content: "";
	display: block;
	width: 90px;
	height: 20px;
	background-color: var(--chat-bubble-bg-clr);
	position: absolute;
	z-index: -1;
	border-radius: 5px;
}
.chat-bubble-right {
	margin-left: auto;
}
.chat-bubble-left {
	margin-right: auto;
}
.chat-bubble-right > .chat-bubble-content {
	margin-right: 20px;
}
.chat-bubble-left > .chat-bubble-content {
	margin-left: 20px;
}
.chat-bubble-left::before {
	left: 0px;
	transform: rotate(23deg);
}
.chat-bubble-right::before {
	right: 0px;
	transform: rotate(-23deg);
}
.message-creation,
.conversation-card-content {
	display: flex;
	gap: 1rem;
}
.send-message-btn {
	padding-inline: 1rem;
	width: max-content;
	align-self: stretch;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5rem;
	border-radius: 5px;
}
.new-message-field {
	flex-grow: 1;
	padding: 0.5rem;
	min-height: 3rem;
	border: none;
	border-radius: 5px;
}
.conversation-card {
	/* box-shadow: 1px 1px 5px black; */
	border-radius: 5px;
	/* padding-inline-end: 0.5rem; */
	height: 70px;
	padding: 10px;
	transition: 250ms;
	transition-property: background-color;
	flex-shrink: 0;
	overflow: hidden;
}
.conversation-card:hover {
	background-color: lightgray;
	cursor: pointer;
}
.conversation-card-content > img {
	overflow: hidden;
	min-width: 50px;
	border-radius: 100%;
}
.conversation-card-text {
	padding-block: 0.2rem;
	min-width: 0px;
	max-width: 100%;
	overflow-x: hidden;
}
.conversation-card-text > h3 {
	font-weight: 600;
}
.conversation-card-text > span {
	font-size: 0.9rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* .conversation-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.chat-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-self: center;
	width: min(900px, 90%);
	gap: 1rem;
	background-color: lightgray;
	border-radius: 5px;
}
.messages-view {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}
.chat-page {
	position: absolute;
	inset: 0px;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 100vh;
	padding: 2rem;
	gap: 2rem;
	overflow: hidden;
}
.chat-page > div {
	min-width: 0px;
} */
.chat-page {
	height: calc(100vh - 70px);
	width: 100%;
	overflow: hidden;
}
.chat-contents {
	height: calc(100% - 4rem);
	min-width: 0px;
	min-height: 0px;
	margin: 2rem;
	display: grid;
	gap: 2rem;
	grid-template-rows: 1fr;
}
.conversation-list,
.conversation-list-page,
.chat-container {
	border-radius: 5px;
	background-color: hsla(0, 0%, 50%, 0.2);
	min-width: 0px;
	min-height: 0px;
}
.conversation-list,
.conversation-list-page {
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */
	overflow-y: auto;
	padding: 1rem;
}
.chat-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
	/* background-color: lightblue; */
	border-radius: 5px;
}
.messages-view {
	flex-shrink: 1;
	height: calc(100% - 4rem);
	padding: 1rem;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
}
.chat-bubble {
	flex-shrink: 0;
}
.chat-message-meta > .review-date {
	margin-right: 0px;
	margin-block-end: 0px;
}
.conversation-selected {
	background-color: darkgray;
}
.chat-page-heading {
	color: var(--clr-accent-400);
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 1rem;
	margin-inline-start: 2rem;
	margin-block-start: 2rem;
}
.chat-page-brand-name {
	font-size: 2rem;
	font-weight: 600;
}
.chat-page-title {
	font-weight: 600;
}
.conversations-page {
	margin-block: 2rem;
	width: min(900px, 90%);
	margin-inline: auto;
}
.current-correspondent {
	height: 50px;
}
.current-correspondent-content {
	display: flex;
	gap: 1rem;
	align-items: center;
	width: fit-content;
}
.current-correspondent-pic {
	border-radius: 100%;
}
.current-correspondent-name {
	font-size: 1.3rem;
	font-weight: 600;
}

@media screen and (max-width: 999px) {
	.chat-contents {
		grid-template-columns: 1fr;
	}
	.conversation-list {
		display: none;
	}
}
@media screen and (min-width: 1000px) {
	.chat-contents {
		grid-template-columns: 1fr 2fr;
	}
}
