.footer {
	background-color: var(--clr-accent-400);
	width: 100%;
	margin-block-start: auto;
	direction: ltr;
	padding: 2rem;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}
.footer > span {
	flex: 1;
	min-width: 300px;
}
.footer-links {
	list-style: none;
	text-decoration: underline;
}
