.large-worker-card {
    box-shadow: 1px 1px 5px black;
    display: flex;
    gap: 1rem;
    width: fit-content;
}
.right-section {
    display: flex;
    height: min-content;
}
.left-section {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.left-section > h2 {
    margin-block: 10px;
}
.left-section > h4 {
    margin: 0px;
    font-size: 0.8rem;
    color: var(--gray);
}