.large-worker-card {
	width: min(400px, 100%);
	aspect-ratio: 2/1;
	box-shadow: 1px 1px 5px black;
	transition: 250ms;
	transition-property: background-color;
	border-radius: 5px;
}
.large-worker-card:hover {
	background-color: lightgray;
}
.large-worker-card-content {
	border-radius: 5px;
	display: flex;
	gap: 1rem;
	overflow: hidden;
}
.large-worker-card-pic {
	width: 50%;
	aspect-ratio: 1/1;
}
.large-worker-card-info {
	display: flex;
	flex-direction: column;
	margin-left: 1rem;
}
.large-worker-card-info > h2 {
	margin-block: 10px;
}
.large-worker-card-info > h4 {
	margin: 0px;
	font-size: 0.8rem;
	color: var(--gray);
}
