.form {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	margin-block: auto;
	width: 100%;
}
.form > form {
	width: min(90%, 500px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 50px;
	box-shadow: 1px 1px 5px black;
}
.input-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
}
.input-container > label {
	height: fit-content;
	align-self: center;
}
.input-box {
	min-height: 35px;
	width: 100%;
	border: 1px solid gray;
	font-family: inherit;
	text-indent: 0.5rem;
	color: inherit;
}

@media screen and (max-width: 820px) {
	.form {
		font-size: 0.77rem;
	}
}
