.form {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: auto;
	margin-bottom: auto;
	width: min(80%, 600px);
	box-shadow: 1px 1px 5px black;
}
.form > form {
	height: max(fit-content, 500px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 50px;
	width: fit-content;
	align-self: center;
}
.input-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.input-container > label {
	height: fit-content;
	align-self: center;
}
.input-box {
	height: 25px;
	width: 175px;
	border: 1px solid gray;
}

