.navbar,
.navbar--items {
	display: flex;
}
.navbar {
	width: 100%;
	padding: 1rem;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--clr-accent-400);
	color: hsla(0, 0%, 100%, 0.95);
	gap: 2rem;
	box-shadow: 1px 1px 5px black;
	min-height: 70px;
	position: sticky;
	top: 0px;
	z-index: 20;
}
.app-name {
	margin: 0px;
	font-size: 1.2rem;
}
.app-name > a:hover {
	color: inherit;
}
.navbar--items > li {
	list-style: none;
	align-self: center;
	transition: 250ms;
	transition-property: color;
}
.navbar--items > li:hover {
	cursor: pointer;
	color: hsla(0, 0%, 100%, 1);
}
.navbar--items > li:focus-within {
	color: hsla(0, 0%, 100%, 1);
}
/* .navbar--items-guest > li:nth-last-of-type(2) {
	margin-inline-start: auto;
}
.navbar--items-user > li:nth-last-of-type(1) {
	margin-inline-start: auto;
} */
.navbar--items {
	margin: 0px;
	padding: 0px;
	gap: 2em;
	flex-grow: 1;
}
.navbar-user-button {
	padding: 0px;
	border: 0px;
	height: 35px;
	border-radius: 5px;
	overflow: hidden;
	margin-block: auto;
	margin-inline-start: auto;
	transition: 250ms;
	transition-property: background-color;
	background-color: transparent;
	background-blend-mode: multiply;
	padding: 5px;
	display: flex;
	gap: 10px;
	align-items: center;
	font: inherit;
}
.navbar-user-pic {
	border-radius: 100%;
}
.navbar-user-button > span {
	color: hsla(0, 0%, 100%, 0.85);
	font: inherit;
}
.navbar-user-button:hover,
.navbar-user-button:focus {
	background-color: hsla(0, 0%, 0%, 0.4);
	cursor: pointer;
}
.navbar-user-panel {
	background-color: white;
	color: var(--gray);
	position: absolute;
	z-index: 10;
	left: 8px;
	top: 82px;
	box-shadow: 1px 1px 5px black;
	padding: 0.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}
.navbar-user-panel > span {
	display: flex;
	position: relative;
	font-weight: 600;
}
.navbar-user-panel > span::after {
	content: "";
	display: block;
	position: absolute;
	background-color: gray;
	height: 1px;
	bottom: 3px;
	right: 20px;
	left: 20px;
}
.navbar-user-panel > * {
	flex-grow: 1;
	min-width: 200px;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 5px;
}
.sign-out-button {
	border: none;
	font: inherit;
	color: inherit;
}
.navbar-user-panel-link,
.sign-out-button {
	transition: 250ms;
	transition-property: background-color;
}
.navbar-user-panel-link:hover,
.navbar-user-panel-link:focus-within,
.sign-out-button:hover,
.sign-out-button:focus-within {
	background-color: lightgray;
	cursor: pointer;
}
.align-icon {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}
.selected-color {
	color: #81b29a !important;
}
@media screen and (max-width: 799px) {
	span.hide-sm {
		display: none;
	}
	.navbar--items {
		gap: 1rem;
	}
	.navbar-user-button > span {
		display: none;
	}
	.navbar-user-panel {
		height: 200px;
	}
}
@media screen and (min-width: 800px) {
	.navbar--items {
		gap: 2rem;
	}
	.navbar-user-panel > span {
		display: none;
	}
	.navbar-user-panel {
		height: 150px;
	}
}

/* @media screen and (max-width: 992px) {
	.navbar {
		font-size: 13px;
	}
}

@media screen and (min-width: 819px) {
	.navbar {
		min-height: 70px;
	}
}

@media screen and (max-width: 820px) {
	.navbar,
	.navbar--items,
	.account-management,
	.account-management-link {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		font-size: 17px;
		gap: 0;
	}
	.navbar {
		padding: 12px;
	}
	.logo {
		margin-top: 0.6em;
	}
	.app-name,
	.navbar--items,
	.account-management {
		margin: 0.6em;
		gap: 1.2em;
	}
} */
