.profession-card > div {
  display: flex;
  box-shadow: 1px 1px 5px black;
  height: 200px;
  width: 300px;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}
.profession-card > div:hover {
  box-shadow: none;
  border: 2px solid black;
}
.profession-cards {
  max-width: 90%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-inline: auto;
}

@media screen and (max-width: 820px) {
  .profession-card > div {
    height: 155px;
    width: auto;
  }
  .profession-cards {
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 1rem;
  }
  .profession-cards > div {
    flex: 0 0 100%;
  }
}
