.profession-card-picture {
	max-width: 100%;
	aspect-ratio: 3/2;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.496);
}
.profession-card-content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	align-items: center;
}
.profession-card-name {
	text-align: center;
	font-size: 1.4rem;
	font-weight: 600;
	margin-block-end: 2rem;
}
.profession-card {
	transition: 300ms;
	transition-property: transform;
}
.profession-card:hover,
.profession-card:focus-within {
	transform: translateY(-6px);
}
