.profession-card > div {
	display: flex;
	box-shadow: 1px 1px 5px black;
	height: 200px;
	width: 300px;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	transition: 250ms;
	transition-property: background-color;
}
.profession-card > div:hover {
	background-color: lightgray;
}
.profession-cards {
	max-width: 90%;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-inline: auto;
}

@media screen and (max-width: 820px) {
	.profession-card > div {
		height: 100px;
		width: 180px;
		font-size: 1.2rem;
	}
	.profession-cards {
		max-width: 90%;
	}
}

@media screen and (max-width: 490px) {
	.profession-card > div {
		font-size: 1rem;
		height: 45px;
		width: 125px;
	}
	.profession-cards {
		max-width: 90%;
	}
}
