.project-preview {
	transition: 250ms;
	transition-property: background-color;
}
.project-preview:hover {
	background-color: lightgray;
	cursor: pointer;
}
.project-preview-content {
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.project-preview-description {
	white-space: nowrap;
	overflow: hidden;
	padding-inline: 1rem;
	text-overflow: ellipsis;
}
.project-preview-pic {
	object-fit: contain;
	align-self: center;
}
.project-preview-date {
	max-width: fit-content;
	margin-block-start: -1rem;
	margin-inline-start: -1rem;
}
.project-preview-date > div > span {
	white-space: nowrap;
}

@media screen and (max-width: 700px) {
	.project-preview {
		width: 100%;
	}
	.project-preview-pic {
		width: 100%;
	}
}
@media screen and (min-width: 701px) {
	.project-preview-pic {
		width: min-content;
		height: 300px;
	}
}
