.sign-in-page * {
	margin: 0px;
	padding: 0px;
	font: inherit;
}
.form {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	margin-block: auto;
	width: 100%;
}
.form > form {
	width: min(90%, 500px);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 50px;
	box-shadow: 1px 1px 5px black;
}
.input-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	flex-wrap: wrap;
}
.input-container > label {
	height: fit-content;
	align-self: center;
}
.input-box {
	min-height: 35px;
	width: 100%;
	border: 1px solid gray;
	font-family: inherit;
	text-indent: 0.5rem;
	color: inherit;
}

.sign-in-page {
	position: absolute;
	inset: 0px;
	z-index: -1;
	overflow: hidden;
	background-color: hsla(0, 0%, 100%, 1);
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sign-in-content {
	z-index: 1;
	background-color: hsla(0, 0%, 50%, 0.3);
	border-radius: 10px;
	padding: 2rem;
	width: min(600px, 90%);
	height: 380px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	transition: 250ms;
	transition-property: height;
}
/* .sign-in-content:hover {
	height: 450px;
} */
.sign-in-heading {
	color: var(--clr-accent-400);
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 1rem;
	margin-block-end: 1rem;
}
.sign-in-brand-name {
	font-size: 2rem;
	font-weight: 600;
}
.sign-in-title {
	font-weight: 600;
}
.sign-in-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: stretch;
	height: 530px;
}
.sign-in-form > * {
	flex-grow: 1;
	border-radius: 5px;
}
.sign-in-input {
	border: none;
	padding-inline: 1rem;
}
.sign-in-button {
	background-color: var(--clr-accent-400);
	color: hsla(0, 0%, 100%, 0.95);
	border: none;
	transition: 250ms;
	transition-property: filter;
}
.sign-in-button:hover,
.sign-in-button:focus {
	filter: brightness(150%);
	cursor: pointer;
}
.sign-in-additional-links {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.2rem;
	font-weight: 200;
}
.sign-in-additional-link {
	font-weight: 400;
}
.sign-in-invalid-message {
	color: firebrick;
	text-align: center;
	height: 30px;
}
.sign-in-invalid {
	height: 410px;
}
