.multiple-horizontal-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}
.multiple-horizontal-buttons > * {
	flex: 1;
}
.input-error {
	margin: 0px;
	font-size: 0.6rem;
	width: 175px;
	align-self: flex-end;
	margin-top: -1rem;
}
.input-box-container {
	display: flex;
	flex-direction: column;
	width: 175px;
}
