.verification-notification {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0px;
	margin-bottom: 12px;
	padding: 10px 0px;
	font-size: small;
	justify-content: center;
	border: 1px black solid;
	border-radius: 4px;
	gap: 4px;
}

.icon {
	font-size: small;
}
.verification-notification > a {
	color: #f44236;
}
