:root {
    --orange: #d2691e;
    --navy: #00003e;
    --white: #fff8dc;
}

/* ***** Navbar ***** */
.App .navbar, .navbar--items, .account-management {
    display: flex;
}
.navbar {
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--orange);
    color: var(--white);
    margin-bottom: 20px;
    gap: 1rem;
    box-shadow: 1px 1px 5px black;
}
.logo {
    display: flex;
    height: min-content;
}
.logo-image {
    height: 50px;
    width: 50px;
}
.app-name {
    margin: 0px;
    font-size: 1.2rem;
}
.app-name > a:hover {
    color: inherit;
}
.navbar--items > li {
    list-style: none;
    align-self: center;
}
.navbar--items {
    margin: 0px;
    padding: 0px;
    gap: 1em;
}
a{
    text-decoration: none;
}
a:visited {
    color: inherit;
}
a:hover {
    color: var(--navy);
}
.global-search {
    background-color: #9f4f16;
    border: none;
    color: var(--white);
    width: 250px;
    height: 30px;
    align-self: center;
    font-family: inherit;
    text-indent: 10px;
    margin-left: auto;
}
.account-management {
    align-self: center;
    gap: 1rem;
}

/* ***** Main Content ***** */
.main-content {
    display: flex;
    flex-direction: column;
}
.main-section {
    display: flex;
    overflow: auto;
    gap: 1rem;
    margin: 20px;
    height: 300px;
    width: auto;
    padding: 1rem;
}

/* ***** Card ***** */
.card {
    box-shadow: 1px 1px 5px black;
    color: var(--navy);
}
#worker-name, #profession {
    padding-right: 5px;
    margin: 0px;
}
#profession {
    font-size: 0.8em;
}

/* ***** Login ***** */
.form, .account-type-choice-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
}
.form > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;
    padding: 50px;
    box-shadow: 1px 1px 5px black;
}
.input-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.input-container > label {
    height: fit-content;
    align-self: center;
}
.input-box {
    height: 25px;
    width: 175px;
    border: 1px solid gray;
}
.main-button {
    width: 100%;
    height: 2.5rem;
    border: none;
    background-color: var(--orange);
    font-family: 'Readex Pro', sans-serif;
    color: var(--white);
}
.main-button:hover {
    border: 2px solid black;
}

/* ***** AccountType ***** */
.account-type-choice-content {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 5px black;
    width: 500px;
    height: 400px;
    align-self: center;
}
.account-type-choice-content > .prompt {
    box-shadow: 1px 1px 5px black;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    font-size: 1.5rem;
}
.account-type-choice-content > .choices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}
.account-type-card {
    /* border: 1px solid black; */
    box-shadow: 1px 1px 5px black;
    height: 200px;
    width: 200px;
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.account-type-card:hover {
    box-shadow: none;
    border: 2px solid black;
}

/* ***** Signup ***** */
.multiple-horizontal-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.signup-cancel {
    border: 1px solid black;
    background-color: white;
    color: black;
}

/* ***** Footer ***** */
.footer {
    display: flex;
    background-color: var(--navy);
    height: 200px;
}